<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Settings</h4>
    </div>
    <div class="panel-body">
    	<div class="form-group">
			<label>You can buy the plugin <a target="_blank" href="http://camaleon.tuzitio.com/store/plugins/camaleon_admin_ajax">here.</a></label><br>
		</div>
        <%= form_tag(admin_plugins_camaleon_admin_ajax_settings_path, class: "validate") do |f| %>
			<div class="form-group">
		        <label>Enter you code:</label><br>
		        <input type='text' class="form-control required" name='code'>
		    </div>
		    <div class="panel-footer">
		      <a class="btn btn-default" role="back"><%= t('camaleon_cms.admin.button.back')%></a>
		      <button class="btn btn-primary pull-right" type="submit"><%= t('camaleon_cms.admin.button.submit')%></button>
		    </div>
		<% end %>
    </div>
</div>
